.card {
  display: inline-block;
  border-radius: 10px;

  height: 300px;
  width: 200px;
  transition: transform 250ms ease-in-out;
  z-index: 10;

  &:hover {
    transform: scale(1.2, 1.2);
    z-index: 100;
  }

  cursor: pointer;

  figure {
    display: flex;

    margin: 0;

    border-radius: inherit;

    width: inherit;

    vertical-align: top;

    height: inherit;
    object-fit: scale-down;

    img {
      border-radius: inherit;
    }



    &:hover > figcaption {
      opacity: 100%;
    }

    figcaption {
      box-sizing: border-box;
      padding: 5px;
      display: flex;
      position: absolute;
      bottom: 0px;
      height: 70px;
      opacity: 0;
      width: inherit;
      background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 100%);
      border-radius: 0px 0px 10px 10px;

      transition: opacity 250ms ease-in-out;

      
      .card-data {
        display: flex;
        color: white;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2em;

        label {
          align-self: flex-end;
        }
      }
    }
  }

}
